@media (min-width: 1025px) {

  .header-nav__link:hover {
    color: var(--color-wisteria);
  }

  .login:hover {
    color: var(--color-wisteria);
    background-color: transparent;
  }

  .login:hover .login-svg_color {
    fill: var(--color-wisteria);
  }

  .header-bottom-nav__btn:hover {
    color: var(--color-wisteria);
  }

  .header-bottom-nav__btn:hover::after {
    border-color: var(--color-wisteria);
  }

  .dropdown__link:hover {
    border: 2px solid  var(--color-amethyst);
  }

  .search-form:hover .search-form__field {
    border-color: var(--color-wisteria);
  }

  .hero__btn:hover {
    border-color: var(--color-mauve);
  }

  .choices__inner:hover {
    background-color: rgba(255, 255, 255, 0.2);
  }

  .choices__list--dropdown .choices__item--selectable.is-highlighted {
    background-color: rgba(255, 255, 255, 0.2);
  }

  .gallery-filter__descr--wisteria:hover {
    border-color: currentColor;
    color: var(--color-amethyst);
    background-color: transparent;
  }

  .swiper-button-gray:hover .swiper-button-gray__background {
    fill: var(--color-amethyst);
    stroke: var(--color-amethyst);
  }

  .gallery-swiper-slide:hover::after {
    z-index: 2;
    opacity: 1;
  }

  .tabs__btn:hover {
    filter: drop-shadow(0px 0px 20px rgba(157, 92, 208, 0.7));
  }

  .artist-card__link:hover {
    border-color: var(--color-wisteria);
    color: var(--color-wisteria);
    background-color: transparent;
  }

  .ui-accordion-header-collapsed:hover {
    border-color: var(--color-amethyst);
  }

  .ui-state-hover .accordion__title {
    color: var(--color-amethyst);
    background-color: transparent;
  }

  .ui-state-hover::before {
    background-color: var(--color-mauve);
  }

  .accordion__btn:hover {
    border-color: currentColor;
    color: var(--color-amethyst);
    background-color: transparent;
  }

  .accordion-content__link:hover {
    border-color: var(--color-wisteria);
    color: var(--color-wisteria);
    background-color: transparent;
  }

  .event-card__link:hover {
    box-shadow: none;
    color: var(--color-studio);
    background-color: transparent;
  }

  .event__btn:hover {
    border-color: var(--color-amethyst);
    color: var(--color-white);
    background-color: var(--color-amethyst);
  }

  .event__btn:hover::after {
    opacity: 0;
  }

  .categories__label:hover {
    cursor: pointer;
    color: var(--color-wisteria);
  }

  .price-label__input:hover {
    border-color: transparent;
    background-color: var(--color-amethyst);
    cursor: pointer;
  }

  .editions-slide__btn:hover {
    border-color: var(--color-amethyst);
    cursor: pointer;
    background-color: var(--color-amethyst);
  }

  .editions-slide__btn:hover::after {
    opacity: 0;
  }

  .projects-tooltip:hover .projects-tooltip__text,
  .projects-tooltip:hover .projects-tooltip__btn::before {
    visibility: visible;
    opacity: 1;
  }

  .projects-tooltip:hover .projects-tooltip__background {
    fill: var(--color-mauve);
  }

  .projects-site__link:hover {
    border-color: var(--color-amethyst);
    box-shadow: none;
    color: var(--color-amethyst);
    background-color: var(--color-white);
  }

  .swiper-button-light:hover:not(.swiper-button-disabled) .swiper-button-light__backgroud {
    fill: var(--color-mauve);
    stroke: var(--color-mauve);
  }

  .partners-slide__logo:hover {
    filter: grayscale(0%);
  }

  .contacts-form__input:hover {
    background-color: var(--color-whisp);
  }

  .contacts-form__btn:hover {
    border-color: var(--color-amethyst);
    color: var(--color-white);
    background-color: var(--color-amethyst);
  }

  .contacts-form__btn:hover::after {
    opacity: 0;
  }

  .messenger__link:hover {
    opacity: 0.6;
  }

  .social__link:hover .social__svg_bg {
    fill: var(--color-white);
  }

  .modal-close-btn:hover .modal-close-btn__svg_color {
    stroke: var(--color-amethyst);
  }

}
